*{margin:0; padding:0;box-sizing: border-box;font-family:'Microsoft YaHei'}
li{list-style:none;}
a,button{cursor:pointer;}
a,a:hover{text-decoration:none; outline:none;}
a:focus{outline:none;}
.el-table th>.cell{font-weight: normal !important;}
.el-table__body-wrapper{border-right: none;}
.el-table--fit{border-right: 1px solid #EAEDF1;border-left: 1px solid #EAEDF1;}
.el-table__header-wrapper{border-top: 1px solid #EAEDF1;}
.el-table th.is-leaf{background-color: #EAEDF1;}
.gg{
  position: fixed;
  top: 410px;
  right: 0px;
}
.page-enter-active,.page-leave-active{
  transition:.3s;
}
.page-enter, .page-leave {
  opacity:0;transform:translateY(6px);
}



